/*****************************************************************************************************************************/
/*   Pagina Web Creada en el Proyecto de Practica Profecionales  de la Carera de Analisis y Diceño de Sistemas de la UNEFA   */
/*                     Creador: Deivy Armando Quintero Martinez, uvicanos a traves de: DAQM3D@GMAIL.COM                      */
/*****************************************************************************************************************************/

/*******************************************   Estilos Generales   ****************************************/
* {
	margin: 0px; /*extructura externa*/
	padding: 0px; /*extructura interna*/
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box

}/*estructura*/
header, nav, section, article, aside, footer{
	display: block; /*en bloque*/
} /*diceño en bloque*/

body{
	text-align: center; 
} /*cuerpo*/

#agrupar{
	width: 100%; /*ancho del contenido*/
	height: 50%; /* largo de la imagen de cabecera */
	text-align: left; /* text-align es ereditaria, asi que hay que regresarla a su configuracion */  
} /*grupo*/

/**********************************************   Cabecera   *********************************************/
header{
	width: 98%; /* ancho de la imagen de cabecera */
}/* cabecera */
header img{
	width: 100%;
	height: 20%;
	max-height: 150px;
	margin: auto 1%;
	text-align: center; 
}/* imagen de cabecera */

/*****************************   Estilo del Menu Estandar y el Responsive    *****************************/
nav{
	width: 98%; /* ancho  */
	max-width: 1000; /* ancho maximo */
	margin: auto;/* margenes de separacion */
	box-shadow: 0px 10px 7px rgba(0,0,0,0.5);/*sombreado*/
	background: darkred;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}/* estructura del menu*/
.menu_bar{
	display: none;/* no se vea */ 
}/* icomo del menu responsive */
.menu{
	font-family:semi-gruesa;
	font-size: 120%;
	font-family:regular;
}/*   estilo de fuente del menu*/
nav ul{
	list-style: none;/*no tenga tipo lista*/ 
}/* estructura del navegador */

nav ul li{
	display: inline-block;/*lista orisontal*/
	position: relative; 
	border-right: 2px solid #fff; /* separacion del menu */
}/*listado del menu*/
nav ul li:hover{
	background: -webkit-linear-gradient(top, #FFFFFF, #006699);/*gradiente lineal para crome*/
	background: -moz-linear-gradient(top, #FFFFFF, #006699);/*gradiente lineal para mozilla*/
	background: linear-gradient(top, #FFFFFF, #006699);/*gradiente lineal para mozilla*/
}/* sombra dek menu */
nav ul li a{
	color: #fff;/* color de fuente */
	padding: 20px ;/* margenes de separacion */
	display: block;
	text-decoration:none;/* ninguna decoracion */

}/* diceño de las letras*/
nav ul li a span{
	margin-right: 10px;/* separacion */
}/* iconos del menu */

nav ul li:hover .children{
	display: block; /* mostrar */  
}/* seleccionar submenu */
nav ul li .children{
	display: none; /* no mostrar */
	background: firebrick;; /* color */
	position: absolute;
	width: 120%; /* ancho */
	z-index: 1000;/* capa */
}/* submenu */
nav ul li .children li{
	display: block; 
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255, .5);
}

nav ul li .children li a{
	display: block;
}
nav ul li .children li a span{
	float: right;
	position: relative;
	top: 3px; /* margen */
	margin-right: 0;
	margin-left: 20px;
}/* iconos del submenu */
nav ul li .caret{
	position: relative;
	top: 3px;
	margin-left: 20px;
	margin-right: 0px;
}

.menu-fixed{
	position: fixed;/* se encuentre en pantalla */
	z-index: 100;/* capa */
	top: 0;/* localicasion */
	margin: auto 14px;
}/* sticky menu "pegajoso" */
.menu-fixed1{
	position: fixed;/* se encuentre en pantalla */
	z-index: 100;/* capa */
	top: 0;/* localicasion */
}/* sticky menu "pegajoso responsive" */

/*******************************************   Menu responsible   **************************************/
@media screen and (max-width:1024px){
	.menu-completo{
		display: block; /* menu visible */
		width: 100%; /* ancho  */
		background: darkred ;
		position:fixed;                        
		z-index:1000;
		transition: all ease .5s;
	}
	.menu-completo nav{
		width: 70%; /* ancho  */
		height: calc (100% -179px);/* largo  */
		left: -100%; /* desplasamiento fuera de la pantalla */
		margin: 0px;/* margenes de separacion */
		position:fixed;
		transition: all ease .5s;
	}
	.menu-completo nav ul{
		list-style: none;/*no tenga tipo lista*/
		position:relative;
		z-index:2000; 

	}
	.menu-completo nav ul li{
		display: block; /* visible*/
		float: none;
		border-bottom: 2px solid rgba(255,255,255, .3); /* interlineado */
		margin-left: 0px;/* margen a la derecha */
	}
	
	.menu_bar{
		display: block; /* menu visible */
		width: 100%; /* ancho  */
		background: darkred ;
		z-index: 1000;
	}
	.menu_bar .bt-menu{
		display: block;
		padding: 10px;/* margenes */
		overflow: hidden;
		color: #fff;/* color de fuente */
		text-decoration: none;/* sin decoracion */
		font-weight: bold;
		font-size: 25px;
		cursor: pointer;/* cabia el cursor*/
	}
	.menu_bar span{
		float: right;
		font-size: 40px;
	}

	.menu-completo nav ul li a{
		display: block;
	}
	.menu-fixed{
		display: none;
	}

	.menu-completo nav ul li .children{
		width: 100%;
		position:relative;
	}
	.menu-completo nav ul li:hover .children{
		display: none;
	}
	.menu-completo nav ul li .children li a{
		margin-left: 20px
	}
	#social{
		position:fixed;
		right: 0;
		top: 48%;
		z-index:3000; 
		right: -1%; /* desplasamiento fuera de la pantalla */
	}/*  redes sociales responsiver   */
	
	#seccion{
		margin: 100px auto 70px auto;
}/*   seccion externa del articulo   */
	#contenido a{
	color: black;
	text-decoration: none;
	font-size: 14px;
}/*   estilo del contenido   */
	#contenido .cont{
	margin: 17px 21px 11px 80px;
}/*   contenedor del la red social*/
	#contenido .cont1{
	margin: 17px 21px 11px 60px;
}/*   contenedor del la red social*/
	#contenido .cont2{
	margin: 11px 21px 11px 80px;
}/*   contenedor del la red social*/
	#contenido .cont3{
	margin: 11px 21px 11px 60px;
}/*   contenedor del la red social*/

	.footer #pie_social{
		margin-left: -8%;
	}/*   diceño de iconos   */
	.footer #pie_des #body{
		width: 100%;
		height: 10%;
		text-align: center;
	}/*  contenedor del menbrete del footer   */
	.footer #pie_des #body #izquierda #img{
		width: 14%;
		height: 100%;
		float: left;
		padding-left: 20px;
		text-align: center;
		margin: -0%  1%  0%  1%;
	}/*  footer pàrte izquierda  */
	.footer #pie_des #body #centro .h3{
		width: 55%;
		height: 50%;
		font-size: 71%;
		float: left;
		text-align: center;
		margin: 2%  3%  1%  3%;
	}/*   footer parte central  */
	.footer #pie_des #body #derecha {
		width: 20%;
		height: 50%;
		float: left;
		right: auto;
		font-size: 1%;
		text-align: center;
		margin: 1%  0%  0%  1%;
	}/*   footer derecho   */
	.footer #pie_des #body #derecha .icon-phone{
		color: #333;
		font-size: 100%;
		padding: 4%;
		background: white;
		border-radius: 10%;
		width: 7%;
		height: 7%;
		margin-right: 17px;/* separacion */
		margin-left: -10px;
	}/*   decoracion del 24 horas   */
	.footer #pie_des #body #derecha #horas{
		color: #fff;
		font-size: 91%;
		padding: 3%;
		background: darkred;
		border-radius: 10%;
		width: 100%;
		height: 40%;
		text-align: center;
	}/*   decoracion del 24 horas   */
	.footer #pie_des #body #derecha .p{
		margin-top: 4%;
		text-align: center;
		font-size: 81%;
	}/*   atencion las 24 horas   */
	.footer #final #h2{
		font-size: 90%;
		max-width: 100%;
		display: inline-block;
		text-align: center;
		margin-top: -3%;
		margin-left: -8%;
	}/*   titulo final del footer   */
} /*   tamaño de pantalla de computadora   */
@media screen and (max-width:768px){
	
	#seccion{
		margin: 100px auto 70px auto;
}/*   seccion externa del articulo   */
	#seccion h1{
	letter-spacing:7px;
	font-size: 25px;
}/*   separacion del titulo   */
	#seccion .articulo .imagen_co .imagen img{
	width: 100%;
	height: 350px;
	border-radius: 22px;
}/*   dimencion de imagen  */
	#seccion .articulo .contenido{
	margin: 24px 60px;
	color: black;
	text-align:justify;
	font-size: 14px;
	line-height: 24px;
	
}/*   diceño del contenido   */
	
	#contenido .cont{
	width: 24%;
	margin: 21px 11px 11px 50px;
}/*   contenedor del la red social*/
	#contenido .cont1{
	width: 24%;
	margin: 21px 11px 11px 30px;
}/*   contenedor del la red social*/
	#contenido .cont2{
	width: 24%;
	margin: 11px 11px 21px 50px;
}/*   contenedor del la red social*/
	#contenido .cont3{
	width: 24%;
	margin: 11px 11px 21px 30px;
}/*   contenedor del la red social*/
	#contenido a{
	color: black;
	text-decoration: none;
	font-size: 12px;
}/*   estilo del contenido   */
	
	.footer #pie_des #body{
		width: 100%;
		height: 10%;
		text-align: center;
	}/*  contenedor del menbrete del footer   */
	.footer #pie_des #body #izquierda #img{
		width: 14%;
		height: 100%;
		float: left;
		padding-left: 10px;
		text-align: center;
		margin: -0%  1%  0%  1%;
	}/*  footer pàrte izquierda  */
	.footer #pie_des #body #centro .h3{
		width: 55%;
		height: 50%;
		font-size: 44%;
		float: left;
		text-align: center;
		margin: 2%  3%  1%  3%;
	}/*   footer parte central  */
	.footer #pie_des #body #derecha #horas{
		color: #fff;
		font-size: 61%;
		padding: 3%;
		background: darkred;
		border-radius: 10%;
		width: 100%;
		height: 40%;
		text-align: center;
	}/*   decoracion del 24 horas   */
	.footer #pie_des #body #derecha .p{
		margin-top: 4%;
		text-align: center;
		font-size: 41%;
	}/*   atencion las 24 horas   */
	.footer #final {
		max-width: 100%;
		text-align: center;
	}/*  contenedor del footer final   */
	.footer #final #h2{
		margin-left: -155px;
		font-size: 60%;
		
	}/*   titulo final del footer   */

}/*   tamaño de pantalla de tableta   */
@media screen and (max-width:480px){
	.menu-completo nav ul li a{
		display: block;
		font-size:17px;
	}/*   menu   */
	#social{
		top: 30%;
	}/*  redes sociales responsiver   */
	#social ul li a{
		padding: 10px 15px;
	}/*   decoracion   */
	
	#seccion{
		margin: 100px auto 70px auto;
}/*   seccion externa del articulo   */
	#seccion h1{
	letter-spacing:7px;
	font-size: 21px;
}/*   separacion del titulo   */
	#imagen_co{
	margin: 11px 11px 21px 90px;
	width: 55%;
	float: left;
	right: auto;
	position:inherit;
}/*   cuadro de la imagen   */
	#seccion .articulo .imagen_co .imagen img{
	width: 100%;
	height: 140px;
	border-radius: 22px;
}/*   dimencion de imagen  */
	#seccion .articulo .contenido{
	margin: 24px 30px;
	color: black;
	text-align:justify;
	font-size: 12px;
	line-height: 18px;
	
}/*   diceño del contenido   */
	
	#contenido .cont{
	width: 40%;
	margin: 21px 10px 11px 17px;
}/*   contenedor del la red social*/
	#contenido .cont1{
	width: 40%;
	margin: 21px 10px 11px 30px;
}/*   contenedor del la red social*/
	#contenido .cont2{
	width: 40%;
	margin: 11px 10px 21px 17px;
}/*   contenedor del la red social*/
	#contenido .cont3{
	width: 40%;
	margin: 11px 10px 21px 30px;
}/*   contenedor del la red social*/
	#contenido a{
	color: black;
	text-decoration: none;
	font-size: 13px;
}/*   estilo del contenido   */

	.footer #pie_des #body #izquierda img{
		display: none;
	}/*  footer pàrte izquierda  */
	.footer #pie_des #body #centro h3{
		width: 100%;
		height: 10%;
		min-width: 400px;
		font-size: 100%;
		margin: 2%  2%  1%  2%;
	}/*   footer parte central  */
	.footer #pie_des #body #derecha {
		display: none;

	}/*  footer parte derecha  */
	.footer #final #h2{
		font-size: 55%;
		margin-top: -1%;
		margin-left: -1%;
	}/*   titulo final del footer   */
}/*   tamaño de pantalla de telefono   */
/*******************************************************************************************************/

/***********************************   Estilos de la Barra Social    ***********************************/
.social{    
	position:fixed;
	right: 0;
	top: 40%;
	z-index:3000; 
	right: -3%; /* desplasamiento fuera de la pantalla */
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}/*  Menu de las redes sociales  */
.social ul{
	list-style: none;
}
.social ul li a{
	display:inline-table;
	color: #fff;
	float: right;
	background: #000;
	padding: 15px 20px;
	text-decoration: none;
	-webkit-transition:all 500ms ease;
	-moz-transition:all 500ms ease;
	transition:all 500ms ease;
}/*   decoracion   */

.social ul li .icon-facebook{background:#3b5998;}/*   color del cuadro de facebook   */
.social ul li .icon-twitter{background:#00abf0;}/*   color del cuadro de twitter   */
.social ul li .icon-instagram{background:#fb3958;}/*   color del cuadro de instagram   */
.social ul li .icon-youtube{background:#CC181E;}/*   color del cuadro de correo   */

.social:hover{
	right: 0%; 
}  /*   visualizar   */
.social ul li a:hover{
	padding: 15px  40px;
	background: #000;
} /*   al pasar el raton   */

/*************************************   Estilos de la seccion   ************************************/
.seccion{
	margin: 40px auto 70px auto;
	width: 90%;
	max-width: 1400px;
	background: darkred;
	position: relative;
	overflow: hidden;
	box-shadow: 0 0 0 10px #006699,
		0 15px 90px black;
	text-align: center;
	color: #fff;
	font-size: 21px;
}/*   seccion externa del articulo   */
.seccion h1{
	letter-spacing:7px;
}/*   separacion del titulo   */
.seccion .articulo{
	width: 100%;
	background: #fff;
	position: relative;
	overflow: hidden;
}/*   dicemo del articulo   */

.imagen_co{
	margin: 11px 11px 21px 20px;
	width: 30%;
	float: left;
	right: auto;
	position:inherit;
}/*   cuadro de la imagen   */
.seccion .articulo .imagen_co .imagen{
	display: flex;
	width: 100%;
}/*   contenedor de imagen   */
.seccion .articulo .imagen_co .imagen img{
	width: 100%;
	height: 370px;
	border-radius: 22px;
}/*   dimencion de imagen  */
.seccion .articulo .contenido{
	margin: 24px 60px;
	color: black;
	text-align:justify;
	font-size: 18px;
	line-height: 24px;
	
}/*   diceño del contenido   */

.contenido .cont{
	color: #fff;
	font-size: 110%;
	padding: 1%;
	background: #3b5998;
	border-radius: 10%;
	width: 20%;
	height: 10%;
	text-align: center;
	position:relative;
	float: left;
	margin: 31px 21px 21px 90px;
}/*   contenedor del la red social*/
.contenido .cont span {
	color: #3b5998;
	font-size: 100%;
	padding: 4%;
	background: white;
	border-radius: 10%;
	width: 7%;
	height: 7%;
	margin-right: 17px;/* separacion */
	margin-left: -10px;
}/*   diceño del icono   */
.contenido .cont:hover{
	background: #FFF;
	box-shadow: inset 0 0 0 3px #3a7999;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}/*   efecto de boton   */

.contenido .cont1{
	color: #fff;
	font-size: 110%;
	padding: 1%;
	background: #00abf0;
	border-radius: 10%;
	width: 20%;
	height: 10%;
	text-align: center;
	position:relative;
	float: left;
	margin: 31px 21px 21px 60px;
}/*   contenedor del la red social*/
.contenido .cont1 span{
	color: #00abf0;
	font-size: 100%;
	padding: 4%;
	background: white;
	border-radius: 10%;
	width: 7%;
	height: 7%;
	margin-right: 17px;/* separacion */
	margin-left: -10px;
}/*   color del icono*/
.contenido .cont1:hover{
	background: #FFF;
	box-shadow: inset 0 0 0 3px #3a7999;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}/*   efecto de boton   */

.contenido .cont2{
	color: #fff;
	font-size: 110%;
	padding: 1%;
	background: #fb3958;
	border-radius: 10%;
	width: 20%;
	height: 10%;
	text-align: center;
	position:relative;
	float: left;
	margin: 21px 21px 21px 90px;
}/*   contenedor del la red social*/
.contenido .cont2 span {
	color: #fb3958;
	font-size: 100%;
	padding: 4%;
	background: white;
	border-radius: 10%;
	width: 7%;
	height: 7%;
	margin-right: 17px;/* separacion */
	margin-left: -10px;
}/*   diceño del icono   */
.contenido .cont2:hover{
	background: #FFF;
	box-shadow: inset 0 0 0 3px #3a7999;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}/*   efecto de boton   */

.contenido .cont3{
	color: #fff;
	font-size: 110%;
	padding: 1%;
	background: #CC181E;
	border-radius: 10%;
	width: 20%;
	height: 10%;
	text-align: center;
	position:relative;
	float: left;
	margin: 21px 21px 21px 60px;
}/*   contenedor del la red social*/
.contenido .cont3 span {
	color: #CC181E;
	font-size: 100%;
	padding: 4%;
	background: white;
	border-radius: 10%;
	width: 7%;
	height: 7%;
	margin-right: 17px;/* separacion */
	margin-left: -10px;
}/*   diceño del icono   */
.contenido .cont3:hover{
	background: #FFF;
	box-shadow: inset 0 0 0 3px #3a7999;
	-webkit-transform: scale(0.9);
	-ms-transform: scale(0.9);
	transform: scale(0.9);
}/*   efecto de boton   */
.contenido a{
	color: black;
	text-decoration: none;
	font-size: 18px;
}/*   estilo del contenido   */

/***********************************   Estilos del pie de pagina   **********************************/
.footer{
	width: 100%;
	background: -webkit-linear-gradient(top, #FFFFFF, #006699);
	background: -moz-linear-gradient(top, #FFFFFF, #006699);
	background: linear-gradient(top, #FFFFFF, #006699);
	color: #fff;
	padding: 10px;
	text-align: center;
}/*   pie de pagina   */
.footer .pie_social{
	margin-left: -50px;
}
.footer .pie_social [class^="icon-" ]{
	display: inline-block;
	color: #333;
	text-decoration: none;
	font-size: 30px;
	padding: 10px;
	background: white;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	line-height: 30px
}/*   diceño de iconos   */
.footer .pie_social a{
	margin: 0px  20px  0px  20px;
	transition:transform 2.4s;
	-moz-transition:-moz-transform 2s;
	-ms-transition:-ms-transform 2s;
	-o-transition:-o-transform 2s;
	-webkit-transition:-webkit-transform 2s;
	display: inline-block;
	width: 100%;
	text-align: center;
}/*   Tiempo de transsicion   */

.footer .pie_social a:hover{
	transform:rotate(720deg) scale(1.3,1.3);
	-moz-transform:rotate(720deg) scale(1.3,1.3);
	-o-transform:rotate(720deg) scale(1.3,1.3);
	-ms-transform:rotate(720deg) scale(1.3,1.3);
	-webkit-transform:rotate(720deg) scale(1.3,1.3);
}/*   efecto al pasar   */
.footer .pie_social .icon-facebook:hover{ background:#3b5998; color: #FFF; }/*   color del cuadro de facebook   */
.footer .pie_social .icon-twitter:hover{ background:#00abf0; color: #FFF; }/*   color del cuadro de twitter   */
.footer .pie_social .icon-instagram:hover{ background:#fb3958; color: #FFF; }/*   color del cuadro de instagram   */
.footer .pie_social .icon-youtube:hover{ background:#CC181E; color: #FFF; }/*   color del cuadro de correo   */

.footer #pie_des .body{
	width: 100%;
	height: 130px;
	text-align: center;
}/*  contenedor del menbrete del footer   */
.footer #pie_des .body #izquierda img{
	width: 17%;
	height: 90%;
	float: left;
	padding-left: 20px;
	text-align: center;
	margin: -1%  2%  0%  2%;
}/*  footer pàrte izquierda  */
.footer #pie_des .body #centro h3{
	width: 50%;
	height: 50%;
	font-size: 84%;
	float: left;
	text-align: center;
	margin: 2%  2%  1%  2%;
}/*   footer parte central  */

.footer #pie_des .body #derecha {
	width: 20%;
	height: 50%;
	float: left;
	right: auto;
	font-size: 85%;
	text-align: center;
	margin: 1%  0%  0%  2%;
}/*   footer derecho   */
.footer #pie_des .body #derecha .icon-phone{
	color: #333;
	font-size: 100%;
	padding: 4%;
	background: white;
	border-radius: 10%;
	width: 7%;
	height: 7%;
	margin-right: 17px;/* separacion */
	margin-left: -10px;
}/*   decoracion del 24 horas   */
.footer #pie_des .body #derecha .horas{
	color: #fff;
	font-size: 110%;
	padding: 4%;
	background: darkred;
	border-radius: 10%;
	width: 100%;
	height: 60%;
	text-align: center;
}/*   decoracion del 24 horas   */
.footer #pie_des .body #derecha p{
	margin-top: 4%;
	text-align: center;
}/*   atencion las 24 horas   */
.footer .final h2{
	font-size: 130%;
	max-width: 100%;
	display: inline-block;
	text-align: center;
	margin-left: -5%;
}/*   titulo final del footer   */

/*****************************************************************************************************************************/
/*   Pagina Web Creada en el Proyecto de Practica Profecionales  de la Carera de Analisis y Diceño de Sistemas de la UNEFA   */
/*                     Creador: Deivy Armando Quintero Martinez, uvicanos a traves de: DAQM3D@GMAIL.COM                      */
/*****************************************************************************************************************************/